.container {
  text-align: center;
  margin-top: 50px;
}

textarea {
  width: 250px;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

button {
  width: 200px;
  margin-top: 15px;
}