<div class="equipe-container">
  <img src="/public/download.png" alt="Logo do Pesqueiro">
  <button (click)="irParaHome()">Home</button>
  <button (click)="irParaContato()">Contato</button>  
  <button (click)="irParaEquipe()">Equipe</button>
  <button (click)="Sair()">Sair</button>
  <h2>Nossa Equipe</h2>
  <ul>
    <li>Pedro Lima - Desenvolvedor Full Stack</li>
    <li>Paulo Renan - Líder, Analista de Sistemas</li>
    <li>Gabriel Freitas - Designer UX/UI</li>
    <li>Erasmo Neto - Designer UX/UI</li>
    <li>Luis Henrique - Desenvolvedor Full Stack</li>
    <li>Rafiq - Analista de Sistemas</li>
  </ul>
</div>
